{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-5">
        <div >
        <h5> Gesetzliche Anbieterkennung: <h5> 
 
          <p style="margin-bottom: 0;"><b> La Volotte - </b> Münz und Kreuzer GbR vertreten durch die Gesellschafter:</p>
          <p style="margin-bottom: 0;"> Barbara Münz, Eckart Kreuzer</p>
          <p style="margin-bottom: 0;"> Haus Hersbach 1</p>
          <p  style="margin-bottom: 20px;">54570 Mürlenbach </p> 
          <p style="margin-bottom: 0;"> <b> Telefon: </b>  +49 (0) 241 47587794 </p>
          <p style="margin-bottom: 10px;">  <b> E-Mail: </b> wolle@la-volotte.de </p>
          <p  style="margin-bottom: 40px;"> USt-IdNr.: DE815557094 </p> 
    
        </div>

        <div class="content">
       
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "cta.html" . }}

{{ end }}
