<section class="section pt-0" style="padding-bottom: 15px;">
  <div class="col-lg-10 mx-auto">
    <h3 class="text-center">Marken</h3>
    <nav class=" navbar-brands navbar-expand-lg navbar-light">
    <ul class="navbar-brands nav justify-content-center">
      {{ range .Site.Menus.brands }}
    <li class="nav-item">
      <a class="nav-link active" href="{{ .URL | absURL }}">{{ .Name }}</a>
    </li>
    {{ end }}
    </ul>
    </nav>
  </div>
</section>

<section class="section pt-0">
  <div class="col-lg-10 mx-auto">
    <h3 class="text-center">Material</h3>
    <nav class="navbar-materials navbar-expand-lg navbar-light">
    <ul class="navbar-materials nav justify-content-center" >
      {{ range .Site.Menus.materials }}
    <li class="nav-item">
      <a class="nav-link active" href="{{ .URL | absURL }}">{{ .Name }}</a>
    </li>
    {{ end }}
    </ul>
    </nav>
  </div>
</section>