<!--
<section class="section pt-0" style="padding-bottom: 15px;">
  <div class="col-lg-10 mx-auto">
    <h3 class="text-center">Marken</h3>
    <nav class=" navbar-brands navbar-expand-lg navbar-light">
    <ul class="navbar-brands nav justify-content-center">
      {{ range .Site.Menus.brands }}
    <li class="nav-item">
      <a class="nav-link active" href="{{ .URL | absURL }}">{{ .Name }}</a>
    </li>
    {{ end }}
    </ul>
    </nav>
  </div>
</section>

<section class="section pt-0">
  <div class="col-lg-10 mx-auto">
    <h3 class="text-center">Material</h3>
    <nav class="navbar-materials navbar-expand-lg navbar-light">
    <ul class="navbar-materials nav justify-content-center" >
      {{ range .Site.Menus.materials }}
    <li class="nav-item">
      <a class="nav-link active" href="{{ .URL | absURL }}">{{ .Name }}</a>
    </li>
    {{ end }}
    </ul>
    </nav>
  </div>
</section>


-->




 

<section class="section pt-0" style="padding-bottom: 5rem;">
  <div class="col-lg-10 mx-auto text-center">
    <div class="btn-group text-center dropright" style="padding-right: 25px;">
      <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Marken
      </button>
      <div class="dropdown-menu"  >
      {{ range .Site.Menus.brands }}
      <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
      {{ end }}
    
      </div>
    </div>

    <div class="btn-group text-center dropright ">
      <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Material
      </button>
      <div class="dropdown-menu"  >
      {{ range .Site.Menus.materials }}
      <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
      {{ end }}
    
      </div>
    </div>
  </div>
</section>


 