<section class="section pt-0" style="padding-bottom: 5rem;">
  <div class="col-lg-10 mx-auto text-center">

    <!--Marken-->
    <div class="btn-group text-center dropright" style="padding-right: 15px;">
      <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Marken
      </button>
      <div class="dropdown-menu"  >
      {{ range .Site.Menus.brands }}
      <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
      {{ end }}
    
      </div>
    </div>

    <!--Material-->
    <div class="btn-group text-center dropright
    " style="padding: 15px;">
      <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Material
      </button>
      <div class="dropdown-menu"  >
      {{ range .Site.Menus.materials }}
      <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
      {{ end }}
    
      </div>
    </div>

    <!--Nadel-->
    <div class="btn-group text-center dropright" style="padding: 15px;">
      <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Nadelstärke
      </button>
      <div class="dropdown-menu"  >
      {{ range .Site.Menus.nadels }}
      <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
      {{ end }}
    
      </div>
    </div>

    <!--Search-->
    <div class="btn-group text-center" >
      <input class="btn search" id="filterProduct" type="text" placeholder="Suchen..." style="padding: 10px;"/>
    </div>
  </div>
</section> 
