<!--Color Slider  -->

 
  <div class="container">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Farben</h1>
    <hr class="mt-2 mb-5">
    <div class="row text-center text-lg-left">
        <p>
          Im Shop finden sich viele Fotos, für die Darstellung der Farben können wir jedoch keine Gewähr übernehmen. 
          Ihre Bestellung wird im jedem Fall bearbeitet. Sollte ein Produkt gerade nicht lieferbar sein, werden Sie umgehend benachrichtigt.
        </p>
        <p>
                
            Erst wenn sich das Produkt im Warenkorb befindet, kann die Farbe ausgewählt werden.
          Mehrere Farben einer Garnsorte müssen also separat erneut wieder in den Warenkorb gelegt werden.
          
        </p>

        {{ .Content }}
        
      </div>
   
  </div>