<footer class="section pb-0">
  <div class="container">
    <div class="row border-bottom pb-5 justify-content-between">
      <div class="col-12 text-center section-sm">
        <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.Params.logo | absURL }}" class="img-fluid"
            alt="{{ .Site.Title }}" style="width: 10%;"></a>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5 class="font-weight-medium mb-4">Links</h5>
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
          <li class="mb-3"><a class="text-color" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
        <h5 class="font-weight-medium mb-4">Wir freuen uns über Euren Besuch</h5>
        <ul class="list-unstyled mb-5">
          <li class="mb-3"><a class="text-color" href="tel:{{ .Site.Params.mobile }}"><i
                class="ti-mobile text-primary mr-2"></i>
              {{ .Site.Params.mobile }}</a></li>
          <li class="mb-3"><a class="text-color" href="mailto:{{ .Site.Params.email }}"><i
                class="ti-email text-primary mr-2"></i> {{ .Site.Params.email }}</a></li>
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i> {{ .Site.Params.location }} <br> &emsp; &ensp; {{ .Site.Params.location1 }}
          </li>
        </ul>
        <!-- social icon -->
        <ul class="list-inline">
          {{ range .Site.Params.social }}
          <li class="list-inline-item" style="font-size: 25px;"><a href="{{ .link | safeURL }}"><i class="{{ .icon }} text-primary"></i></a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-4 col-md-5">
        <h5 class="font-weight-medium mb-4">Kontakt</h5>
        <form action="{{ .Site.Params.contact.formAction }}" method="POST">
          <input type="text" class="form-control mb-2" id="name" name="name" placeholder="Name">
          <input type="email" class="form-control mb-2" id="email" name="email" placeholder="Email">
          <textarea name="message" id="message" class="form-control mb-2" placeholder="Ihre Nachricht"></textarea>
          <button type="submit" value="send" class="btn btn-block btn-outline-primary rounded">Senden</button>
        </form>
      </div>
    </div>
 

    <div class="row">
      <div class="col-12 text-center py-4">
        {{ .Site.Params.copyright | markdownify  }}
      </div>
    </div>
   
<!--
    <div class="row">
      <div class="col-12 text-center py-4">
        <ul class="list-unstyled d-flex justify-content-center">
          {{ range .Site.Menus.copyright }}
          |
          <li class="px-1"><a class="text-color" href="{{ .URL | absURL }}">{{ .Name }}</a></li>
          |
          {{ end }}
        </ul>
      </div>
    </div> -->
  </div>

</footer>

 


{{ "<!-- Google Map API -->" | safeHTML }}
<script src="{{ .Site.Params.gmapAPI | absURL }}"></script>
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

 


<div hidden id="snipcart" data-api-key="ODFiOGQ1NjEtOWMwZS00YjljLTkxNmEtMzM2OWFiODBlOTcyNjM3MTcyNzE4MTY1NzI0Njg1">
        <!-- The template must have a single root element -->
        <header class="snipcart-cart-header"  >
        </header>
</div>
</div>
<script src="https://cdn.snipcart.com/themes/v3.0.17/default/snipcart.js"></script>
 
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>


<script>
// external js: isotope.pkgd.js

// init Isotope
var $grid = $('.grid').isotope({
  itemSelector: '.color-shape'
});

// store filter for each group
var filters = {};

$('.filters').on( 'click', '.button', function( event ) {
  var $button = $( event.currentTarget );
  // get group key
  var $buttonGroup = $button.parents('.button-group');
  var filterGroup = $buttonGroup.attr('data-filter-group');
  // set filter for group
  filters[ filterGroup ] = $button.attr('data-filter');
  // combine filters
  var filterValue = concatValues( filters );
  // set filter for Isotope
  $grid.isotope({ filter: filterValue });
});

// change is-checked class on buttons
$('.button-group').each( function( i, buttonGroup ) {
  var $buttonGroup = $( buttonGroup );
  $buttonGroup.on( 'click', 'button', function( event ) {
    $buttonGroup.find('.is-checked').removeClass('is-checked');
    var $button = $( event.currentTarget );
    $button.addClass('is-checked');
  });
});
  
// flatten object by concatting values
function concatValues( obj ) {
  var value = '';
  for ( var prop in obj ) {
    value += obj[ prop ];
  }
  return value;
}

</script>



{{ with .Site.Params.googleAnalitycsID }}
{{ "<!-- google analitycs -->" | safeHTML }}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}

<!-- product rating -->
{{ if .Site.Params.rating.enable }}
<script type="text/javascript">
  (function (d, t, e, m) {

    // Async Rating-Widget initialization.
    window.RW_Async_Init = function () {

      RW.init({
        huid: "{{ .Site.Params.rating.websiteID }}",
        uid: "{{ .Site.Params.rating.publicKey }}",
        source: "website",
        options: {
          "size": "medium",
          "style": "oxygen",
          "isDummy": false
        }
      });
      RW.render();
    };
    // Append Rating-Widget JavaScript library.
    var rw, s = d.getElementsByTagName(e)[0],
      id = "rw-js",
      l = d.location,
      ck = "Y" + t.getFullYear() +
      "M" + t.getMonth() + "D" + t.getDate(),
      p = l.protocol,
      f = ((l.search.indexOf("DBG=") > -1) ? "" : ".min"),
      a = ("https:" == p ? "secure." + m + "js/" : "js." + m);
    if (d.getElementById(id)) return;
    rw = d.createElement(e);
    rw.id = id;
    rw.async = true;
    rw.type = "text/javascript";
    rw.src = p + "//" + a + "external" + f + ".js?ck=" + ck;
    s.parentNode.insertBefore(rw, s);
  }(document, new Date(), "script", "rating-widget.com/"));
</script>
{{ end }}



<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<script>
  window.cookieconsent.initialise({
    container: document.getElementById("cookieconsent"),
    palette:{
     popup: {background: "#505050"},
     button: {background: "#e0e0e0"},
    },
    revokable: true,
    onStatusChange: function(status) {
     console.log(this.hasConsented() ?
      'enable cookies' : 'disable cookies');
    },
    "position": "bottom-right",
    "theme": "classic",
    "domain": "#",
    "secure": true,
    "content": {
      "header": 'Auf dieser Website werden Cookies verwendet!',
      "message": 'Um unsere Webseite für Sie optimal zu gestalten und fortlaufend verbessern zu können, verwenden wir Cookies. Durch die weitere Nutzung der Webseite stimmen Sie der Verwendung von Cookies zu. Weitere Informationen zu Cookies erhalten Sie in unserer Datenschutzerklärung.',
      "dismiss": 'OK!',
      "allow": 'Allow cookies',
      "deny": 'Decline',
      "link": 'Mehr erfahren',
      "href": '/datenschutz',
      "close": '&#x274c;',
      "policy": 'Cookie Policy',
      "target": '_self',
      }
   });

</script>
<script src="src/cookie.js"></script>