{{ define "main" }}

{{ partial "page-title.html" . }}


<section class="section pt-0">
  <div class="container">

    <button onclick="goBack()" class="float-back">  
      <i class="ti-arrow-left " style="font-size: 20px; color: #5AB51E;"></i>
    </button>

  <div class="container">
    <div class="row">
      <div class="col-lg-5 mb-4 mb-lg-0">
        <!-- product image slider -->
        <div class="product-slider">
          {{ range .Params.Images }}
          <div data-image="{{ .image | absURL }}">
            <img class="img-fluid w-100" src="{{ .image | absURL }}" alt="product-img">
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <h4 class="font-weight-medium">{{ .Title }}</h4>
        <h6 class="font-weight-medium">{{ .Params.Brand }}</h6>
        <!-- rating star
        {{ if .Site.Params.rating.enable }}
        <div class="rw-ui-container"></div>
        {{ end }}  -->
        <div class="my-4">
          <span class="lead text-primary font-weight-medium">{{ .Params.Dprice }} €</span> &nbsp <s>{{ .Params.PriceBefore }} </s> <br> 
          <span class="lead text-primary font-weight-medium">{{ .Params.cprice }}  <small>{{ .Params.cpricetext }} </small></span>
        <small> inkl. MwSt. zzgl. Versandkosten* </small>
          
          <p>{{ .Params.menge }}  &nbsp &nbsp <br> 
            <img src="/images/nadelstaerke.png" alt=" " style="width: 4%;" /> &nbsp  {{ .Params.nadel }} <br> 
            Lauflänge: {{ .Params.laenge }}  &nbsp &nbsp   </p>
             
        </div>
        <h5>Kurzbeschreibung</h5>
        <p>{{ .Params.ShortDescription | markdownify }}</p>

       

        <button class="snipcart-add-item btn  btn-outline-primary" id="my-button" 
        data-item-id="{{ .Params.ProductID }}"
        data-item-price="{{ .Params.Price }}"
        data-item-url="{{ .Permalink }}"
        data-item-description="{{ .Params.Description }}"
        data-item-image="{{ .Params.Img | absURL }}"
        data-item-name="{{ .Title }}"
        data-item-custom1-name="Farbe"
        data-item-custom1-options="{{ .Params.Farben }}">
        in den Warenkorb
        </button>

        <p style="margin-top: 2rem;"> *
          <small>Der Versand kostet pauschal € 6,00.<br>
           Bei einer Bestellung ab € 80,00 versenden wir kostenfrei. <br>
           Bei Abholung im Laden bitte den Gutschein "ABHOLUNG" beim Check-out verwenden.</small> </p>
   




      </div>
      <div class="col-12 mt-5">
        <ul class="nav nav-tabs border-bottom-0" id="myTab" role="tablist">
          <li class="nav-item mr-3">
            <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
              aria-controls="description" aria-selected="true">Hinweis zu farben auswahl</a>
          </li>
           
          <li class="nav-item">
            <a class="nav-link" id="slider-tab" data-toggle="tab" href="#slider" role="tab" aria-controls="slider"
              aria-selected="false">Farbauswahl</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <div class="content">{{ partial "farbenhinweis.html" . }}</div>
          </div>
           
          <div class="tab-pane fade  " id="slider" role="tabpanel" aria-labelledby="slider-tab">
            {{ partial "slider.html" . }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "cta.html" . }}

{{ end }}
